.cursor-pointer {
    cursor: pointer;
}

.cursor-help {
    cursor: help;
}

.cursor-progress {
    cursor: progress;
}

.cursor-wait {
    cursor: wait;
}

.cursor-cell {
    cursor: cell;
}

.cursor-move {
    cursor: move;
}

.cursor-not-allowed {
    cursor: not-allowed;
}
